iframe {
    border: none !important;
}

.underline {
    text-decoration: underline;
    text-decoration-color: #f5cd79;
    text-decoration-thickness: 5px;
}

.container {
    min-height: 100%;
    margin: auto;
    max-width: 1152px;
}

.container-fluid {
    margin: auto;
    width: 100%;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-strike {
    text-decoration: line-through;
}

hr {
    margin: 1% 1%;
}

.font-size-1 {
    font-size: 1em;
}

.font-size-1-25 {
    font-size: 1.25em;
}

.font-size-2 {
    font-size: 2em;
}

.font-size-3 {
    font-size: 3em;
}

.font-size-4 {
    font-size: 4em;
}

.font-size-5 {
    font-size: 5em;
}

.bold {
    font-weight: bold;
}

.m-auto {
    margin: auto;
}

section {
    display: block;
    margin-bottom: 4%;
}

.clear {
    clear: both;
}

.row {
    float: left;
    width: 100%;
}

.column-25 {
    float: left;
    width: 25%;
}

.column-25 img {
    width: 100%;
}

.column-50 {
    float: left;
    width: 50%;
}

.column-50 img {
    width: 100%;
}

.column-50 iframe {
    min-height: 290px;
    width: 560px;
}

.column-75 {
    float: left;
    width: 75%;
}

.column-75-25 {
    float: left;
    width: 33%;
}

.column-75-25 img {
    width: 100%
}

.column-100 {
    width: 100%;
}

.table {
    width: 100%;
}

.p-0-1 {
    padding: 1%;
}

.p-1 {
    padding: 2.5%;
}

.p-2 {
    padding: 5%;
}

.p-3 {
    padding: 10%;
}

.p-b-0 {
    padding-bottom: 0 !important;
}

.m-t-1 {
    margin-top: 1%;
}

.m-t-2 {
    margin-top: 2%;
}

.m-t-3 {
    margin-top: 3%;
}

.m-l-1 {
    margin-left: 1%;
}

.m-l-2 {
    margin-left: 2%;
}

.m-l-3 {
    margin-left: 3%;
}

.m-b-3 {
    margin-bottom: 3%;
}


.bold {
    font-weight: bold;
}

a {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
}

.menuButton {
    right: 1%;
    top: 1.5%;
    font-size: 2em;
    display: block;
    position: absolute;
}

#navbar-list {
    transition: opacity 0.3s ease;
}

.navbar-active {
    border-bottom: solid #f3a683 5px;
}

.justify-center {
    justify-content: center;
}



